@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Assistant', system-ui, sans-serif;
  }
  h1, h2, h3 {
    font-family: 'Playfair Display', serif;
  }
}
